/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/robotoroboto-v18-latin_cyrillic-regular.eot');
  /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/robotoroboto-v18-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/robotoroboto-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/robotoroboto-v18-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/robotoroboto-v18-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/robotoroboto-v18-latin_cyrillic-regular.svg#Roboto') format('svg');
  /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/robotoroboto-v18-latin_cyrillic-700.eot');
  /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/robotoroboto-v18-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/robotoroboto-v18-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/robotoroboto-v18-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/robotoroboto-v18-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/robotoroboto-v18-latin_cyrillic-700.svg#Roboto') format('svg');
  /* Legacy iOS */
}
/* montserrat-200 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/montserratmontserrat-v12-latin_cyrillic-200.eot');
  /* IE9 Compat Modes */
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url('../fonts/montserratmontserrat-v12-latin_cyrillic-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/montserratmontserrat-v12-latin_cyrillic-200.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/montserratmontserrat-v12-latin_cyrillic-200.woff') format('woff'), /* Modern Browsers */ url('../fonts/montserratmontserrat-v12-latin_cyrillic-200.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/montserratmontserrat-v12-latin_cyrillic-200.svg#Montserrat') format('svg');
  /* Legacy iOS */
}
/* montserrat-300 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/montserratmontserrat-v12-latin_cyrillic-300.eot');
  /* IE9 Compat Modes */
  src: local('Montserrat Light'), local('Montserrat-Light'), url('../fonts/montserratmontserrat-v12-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/montserratmontserrat-v12-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/montserratmontserrat-v12-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */ url('../fonts/montserratmontserrat-v12-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/montserratmontserrat-v12-latin_cyrillic-300.svg#Montserrat') format('svg');
  /* Legacy iOS */
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 25px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #252525;
  font-style: normal;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
