.main-nav {
  background-color: #fff;
  border-top: 2px solid #e4e5e6;
  border-bottom: 2px solid #e4e5e6;
}
.main-nav__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.main-nav__link {
  display: block;
  text-decoration: none;
  color: #252525;
  padding: 20px 0;
}
.main-nav__link:hover {
  color: #009688;
}
.main-nav__link:focus {
  color: #009688;
}
.main-nav__link--active {
  color: #009688;
}
@media screen and (max-width: 992px) {
  .main-nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .main-nav__item {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
  }
  .main-nav__link {
    text-align: center;
  }
}
